.py-5 {
    min-height: 500px;
    background: linear-gradient(to right, #f7f7f8, #cfe8fa);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .col-lg-4 {
    flex: 1 0 21%;
    margin: 5px;
  }

  .register-item {
    margin-left: 10px;
    width: 80px;
    background-color: white;
    box-shadow: 5px 9px rgb(200, 172, 245);
  }

  .add-to-cart {
    background-color: white;
    box-shadow: 5px 9px rgb(200, 172, 245)
  }

  .add-to-cart:hover {
   box-shadow: 9px 5px rgb(200, 172, 245);
  }

  .register-item:hover {
    box-shadow: 9px 5px rgb(200, 172, 245);
  }

  .register-link {
    color: black;
  }
  
  .card {
    max-width: 300px;
    margin: auto;
  }

  .card:hover {
    box-shadow: 0px 2px 30px -10px rgb(125, 45, 255)
  }